<!DOCTYPE html>
<html>
	<head>
		<title>Clean Blog - Blogpost</title>
	</head>
	<body>
<header class="header header-default">
	<div class="navbar navbar-default">
		<div class="container">
			<a href="#" class="navbar-brand">
				clean-blog.com
			</a>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="#">Home</a></li>
				<li><a href="\blogpost">Blogposts</a></li>
				<li><a href="\contact">Contact</a></li>
				<li><a href="\dashboard">Dashboard</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="col-sm-12">
				<div class="jumbotron center-block" style="
				margin:0;
				background: url(<%= asset_path 'img/large-open-air-course-with-golf-stick-and-ball-web-header.jpg' %> ) no-repeat;
				display: block;">
					<h1 style="color:#fff;margin:0;">
						CLEAN BLOG
					</h1>
				</div>
		</div>
		<hr/>
	</div>
</header>
<section>
	<div class="container">
		<div class="col-sm-12">
			<main>
				<div class="media">
					<div class="media-left">
						<a href="#">
							<%= image_tag 'img/jalanan.jpg', :class => 'media-object img-rounded' %>
						</a>
					</div>
					<div class="media-body">
						<a href="\jalanan">
							<h2 class="media-heading">Jalanan Sepi Gojek, Pengemudi Grab: Rejeki Buat Kami</h2>
						</a>
						<p>Titik transportasi umum seperti stasiun yang biasanya dipadati 'pasukan' Gojek, hari ini, Senin (3/10) menjadi sepi lantaran mitra pengemudi kompak melakukan demonstrasi. Hal ini membuat pengemudi ojek online lain seperti GrabBike merasa diuntungkan. Demonstrasi yang dilakukan para mitra pengemudi Gojek ke kantor pusat perusahaan yang berada di kawasan Kemang, Jakarta Selatan, Senin (3/10) membuat area di sekitar sejumlah stasiun sepi armada.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<a href="\ahok">
							<%= image_tag 'img/ahok.jpg', :class => 'media-object img-rounded' %>
						</a>
					</div>
					<div class="media-body">
						<a href="\ahok">
							<h2 class="media-heading">Ahok Bakal Cabut Videotron di Jakarta</h2>
						</a>
						<p>Jakarta, CNN Indonesia -- Gubernur DKI Jakarta Basuki Tjahaja Purnama akan mencabut semua videotron yang ada di Jakarta. Hal tersebut disampaikan pria yang akrab disapa Ahok itu di markas Teman Ahok, Jakarta, Sabtu (1/10). "Kalau videotron itu di tempat-tempat kami semua akan kami cabut. Pokoknya saya tidak mau di jalan ada lagi yang namanya videotron," kata Ahok.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<a href="\gojek">
							<%= image_tag 'img/gojek.jpg', :class => 'media-object img-rounded' %>
						</a>
					</div>
					<div class="media-body">
						<a href="\gojek">
							<h2 class="media-heading">Gojek Gelar Demo, Penumpang Kesulitan Pesan Layanan</h2>
						</a>
						<p>Jakarta, CNN Indonesia -- Para mitra pengemudi Gojek berencana melakukan demonstrasi di kantor pusat Gojek di Jakarta hari ini, Senin (3/10). Dari pernyataan yang diterima CNNIndonesia.com, demonstrasi tersebut akan berlangsung pada pukul 11.00 WIB di depan kantor perusahaan yang bersemayam di Kemang, Jakarta Selatan.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<a href="\demi">
							<%= image_tag 'img/demi.jpg', :class => 'media-object img-rounded' %>
						</a>
					</div>
					<div class="media-body">
						<a href="\demi">
							<h2 class="media-heading">Demi Penghematan, Arab Saudi Pakai Kalender Masehi</h2>
						</a>
						<p>Jakarta, CNN Indonesia -- Pemerintah Arab Saudi menerapkan sistem kalender Gregorian atau Masehi dalam pembayaran gaji pegawai negeri. Perubahan dari kalender Hijriah ke Masehi ini berlaku sejak Sabtu (1/10). Dilansir dari Gulfnews yang mengutip situs berita Sabq, dengan pengadopsian sistem kalender Masehi ini, sistem penggajian pegawai negeri pun jadi sama dengan kebanyakan sistem penggajian di sektor swasta.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<a href="\saling">
							<%= image_tag 'img/saling.jpg', :class => 'media-object img-rounded' %>
						</a>
					</div>
					<div class="media-body">
						<a href="\saling">
							<h2 class="media-heading">Saling Lontar 'Serangan Udara' Para Bakal Calon Gubernur DKI</h2>
						</a>
						<p>Jakarta, CNN Indonesia -- Jakarta butuh pemimpin pendobrak, bukan pemimpin tampan. Kalimat itu dilontarkan Miryam Haryani, Juru Bicara Tim Pemenangan Basuki Tjahaja Purnama (Ahok) dan Djarot Saiful Hidayat. Modal tampan semata, kata Miryam, tak bakal mendulang suara warga Jakarta.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<a href="#">
							<%= image_tag 'img/sri.jpg', :class => 'media-object img-rounded' %>
						</a>
					</div>
					<div class="media-body">
						<a href="\sri">
							<h2 class="media-heading">Sri Mulyani Ingin Tax Amnesty Ubah Citra Ditjen Pajak</h2>
						</a>
						<p>Jakarta, CNN Indonesia -- Menteri Keuangan Sri Mulyani Indrawati ingin kerja keras tim yang dilakukan para pimpinan dan seluruh pegawai Direktorat Jenderal Pajak (DJP) untuk mensukseskan program pengampunan pajak tahap I, mampu memperbaiki citra instansi tersebut di mata masyarakat.</p>
					</div>
				</div>
			</main>
		</div>
	</div>
</section>
<footer class="footer">
  <div class="container">
  	<div class="col-sm-12">
    	<address>
      	<strong>CLEAN BLOG <span class="glyphicon glyphicon-user" aria-hidden="true"></span></strong><br />
        Jakarta, Indonesia <span class="glyphicon glyphicon-home" aria-hidden="true"></span><br />
        (123) 456-7890 <span class="glyphicon glyphicon-phone" aria-hidden="true"></span><br />
        <a href="mailto:#">clean-blog@clean-blog.com </a><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    	</address>
  	</div>
	</div>
</footer>
	</body>
</html>